

:root{
    --color-body:#111;
    --color-main:#5454bb;
    --color-main-dark:#1c1c6f;
    --color-main-light:#9292f3;
}

body{
	color: var(--color-body);
	background-color: var(--color-neutral-light);
}

a{
	color:var(--color-main);
}

/*new_m03*/
.hero{
	margin: 0;
}
.hero h1{
	font-size: 7vmin;
	color: var(--color-neutral-light);
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.flex-spacer{
	flex: none;
	width: 1em;
}

/*new_m03*/
@media (max-width: 450px){
	.navbar h1{
		white-space: nowrap;
	}
	.navbar>.display-flex{
		flex-wrap: wrap;
	}
}




@media only screen and (min-width: 768px) and (max-width: 1023px){
/*tablet*/
}
@media only screen and (max-width: 767px){
/*mobile*/	
}